@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 384px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'IM_Hyemin-Bold';
  background-color: #f0f0f0;
  color: #6d6c6c;
}

.header {
  display: flex;
  height: 80px;
  margin: 0 0 30px 0;
  padding: 0 30px 0 30px;
  background-color: #f1bbba;
}

.header img {
  width: 60px;
  padding: 10px 30px 0 0;
}

.header span {
  font-size: 2.5rem;
  align-self: auto;
  padding-top: 15px;
}

.footer {
  width: 100%;
  padding: 10px 0 0 0;
  font-family: 'NEXON Lv1 Gothic OTF';
}

#footer {
  background-color: #a79c8e;
  margin: 10px 0 0 0;
}

.footer__menu {
  padding: 20px 0 20px 30px;
  text-align: left;
  border-bottom: 1px solid #fff;
}

#footer a {
  color: #f4f5f9;
}

.footer__content {
  padding: 20px 0 20px 0;
}

.footer__content p {
  margin: 5px 0 0 0;
  letter-spacing: 1px;
  color: #f4f5f9;
}

@media screen and (max-width:728px) {
  .ad_kakao:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width:728px) {
  .ad_kakao:nth-child(1) {
    display: none;
  }
}